body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    color: #5692e6;
    background-color: #142b41;
}

.sortContainer {
    margin: 28px;
}

.sortContainer select {
    overflow: hidden;
    display: flex;
    background-color: #142b41;
    outline: none;
    cursor: pointer;
    border: 1px solid #5692e6;
    color: #5692e6;
}

.sortButton {
    background-color: #142b41;
    border: 1px solid #5692e6;
    color: #5692e6;
}

.sortButton:hover {
    cursor: pointer;

}

.box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin: 0;
    color: wheat;
}

.wrap-list {
    display: inline-block;
    width: 188px;
    position: relative;
    left: 66px;
    text-transform: capitalize;
    font-size: 16px;
    color: #5692e6;
}

.wrap-list li {
    position: relative;
    top: 24px;
    right: 15px;
    list-style-type: none;
    text-align: center;
}

.wrap-list img {
    border-radius: 50%;
    display: block;
    cursor: pointer;
}

.wrap-list:hover {
    outline: 1px solid grey;
    background-color: rgb(22, 62, 107);
}


.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.popup {
    position: fixed;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: none;
}




button.close {
    position: relative;
    bottom: 34em;
    left: 20.8em;
    border: 1px solid #ccc;
    cursor: pointer;
}

button.close:hover {
    background-color: #142b41;
}

.wrap-active {
    padding: 0;
    line-height: 42px;
}

.wrap-active img {
    border-radius: 50%;
    position: relative;
    top: 8px;
}

.wrap-active li {
    text-transform: capitalize;
    border: 1px solid #ccc;
    list-style-type: none;
    text-align: center;
    background-color: #142b41;
    color: #5692e6;
}

.email {
    text-transform: lowercase !important;
}

.footer {
    display: block;
    position: sticky;
    color: #5692e6;
    background-color: #000;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}